gabaritos/Exercicio14_AlocacaoDinamica/q1
gabaritos/Exercicio14_AlocacaoDinamica/q2
gabaritos/Exercicio14_AlocacaoDinamica/q3
gabaritos/Exercicio14_AlocacaoDinamica/q4
gabaritos/Exercicio14_AlocacaoDinamica/q5
gabaritos/.vscode/tasks.json
gabaritos/Exercicio14_AlocacaoDinamica/q5_1
